<%- include('header'); %>
<div id="newgallery" class="image-grid"></div>
<div id="paging" class="paging"></div>
<script>
displayPins({},'newgallery','paging')
</script>
<%- include('footer'); %>