{
    "discordBotKey":"",
    "topggKey":"",
    "tipccKey":"",
    "adminID":"0",
    "cluster":[
        {"url":"http://127.0.0.1:9090","name":"primary","deleteAfterRender":false,"disabled":false,"online":true,"ownerid":"1234567890","type":"invoke"}
    ],
    "branding":{
        "botOwner":"ausbitbank",
        "botDescription":"Just a slave to the art, maaan"
    },
    "authentication":{
        "allowed":{
            "users":[],
            "guilds":[],
            "channels":[]
        },
        "banned":{
            "users":[],
            "guilds":[],
            "channels":[]
        }
    },
    "ignoreAllBots":true,
    "default":{
        "width":512,
        "height":512,
        "sdxlwidth":1024,
        "sdxlheight":1024,
        "steps":30,
        "scale":4,
        "strength":0.7,
        "scheduler":"dpmpp_2m_sde_k",
        "controlmode":"depth",
        "model":"stable-diffusion-v1-5",
        "inpaintStrength":0.8
    },
    "maximum":{
        "steps":100,
        "iterations":5,
        "pixels":2073601,
        "upscaledPixels":4194304
    },
    "credits":{
        "enabled":false,
        "hive":{
            "enabled":false,
            "address":"",
            "prefix":"recharge-"
        },
        "hiveEngine":{
            "enabled":false,
            "tokens":["SWAP.HIVE","SWAP.HBD","SWAP.BTC","SWAP.ETH","SWAP.LTC","SWAP.USDT","SWAP.WAX","SWAP.BNB","SWAP.MATIC","SWAP.BUSD","SWAP.DOGE","PAL","PALM","PALMM","DEC","SPS","LEO","LEOM","LEOMM","PART","CHAOS","SHARD","SCRAP","GLX","RIFT","STARBITS","DBLN","NIGHTMARE","ASTRA","VOUCHER","FLUX","GMLSPA","PLOT","ALPHA","WOO","GLGT","WORKERBEE","SIM","AFIT","POSH","SME","NEOXAG"]
        },
        "stripe":{
            "enabled":false,
            "key":"",
            "priceId":""
        },
        "tipcc":{
            "enabled":false,
            "key":null
        },
        "lightning":{
            "enabled":false
        }
    },
    "freeRecharge":{
        "enabled":true,
        "minBalance":10,
        "amount":10
    },
    "logging":{
        "chat":false,
        "debug":false
    },
    "schedulers":["ddim","deis","ddpm","dpmpp_2m","dpmpp_2m_k","dpmpp_2m_sde","dpmpp_2m_sde_k","dpmpp_2s","dpmpp_2s_k","dpmpp_sde","dpmpp_sde_k","euler","euler_a","euler_k","heun","heun_k","kdpm_2","kdpm_2_a","lcm","lms","lms_k","pndm","unipc"],
    "llm":{
        "enabled":false,
        "url":"http://localhost:9100/v1",
        "systemprompt":"You are a helpful chatbot. Do not censor your responses",
        "temperature":0.7,
        "max_tokens":-1,
        "model":"neuralbeagle",
        "apiKey":"none",
        "scrapeUrls":false,
        "personas":[
            {"name":"assistant","prompt":"You are a helpful AI assistant, respond to user requests to the best of your ability"},
            {"name":"sassy","prompt":"As an AI with a sassy personality, respond in a clever, snarky, playfully insulting and entertaining manner while remaining true to the context of the question or statement"},
            {"name":"english-coach","prompt":"I want you to act as an English translator, spelling corrector and improver. I will speak to you in any language and you will detect the language, translate it and answer in the corrected and improved version of my text, in English. I want you to replace my simplified A0-level words and sentences with more beautiful and elegant, upper level English words and sentences. Keep the meaning same, but make them more literary. I want you to only reply the correction, the improvements and nothing else, do not write explanations. My first sentence is: "},
            {"name":"storyteller","prompt":"I want you to act as a storyteller. You will come up with entertaining stories that are engaging, imaginative and captivating for the audience. It can be fairy tales, educational stories or any other type of stories which has the potential to capture people's attention and imagination. Depending on the target audience, you may choose specific themes or topics for your storytelling session e.g., if it’s children then you can talk about animals; If it’s adults then history-based tales might engage them better etc. "},
            {"name":"comedian","prompt": "I want you to act as a stand-up comedian. I will provide you with some topics related to current events and you will use your wit, creativity, and observational skills to create a routine based on those topics. You should also be sure to incorporate personal anecdotes or experiences into the routine in order to make it more relatable and engaging for the audience.  "},
            {"name":"doctor","prompt":"I want you to act as a doctor and come up with creative treatments for illnesses or diseases. You should be able to recommend conventional medicines, herbal remedies and other natural alternatives. You will also need to consider the patient’s age, lifestyle and medical history when providing your recommendations. "},
            {"name":"prompt-improver","prompt":"I want you to act as a prompt generator for an artificial intelligence program. Your job is to provide detailed and creative descriptions that will inspire unique and interesting images from the AI. Keep in mind that the AI is capable of understanding a wide range of language and can interpret abstract concepts, so feel free to be as imaginative and descriptive as possible. For example, you could describe a scene from a futuristic city, or a surreal landscape filled with strange creatures. The more detailed and imaginative your description, the more interesting the resulting image will be. Here is your first prompt: "}
        ]
    },
    "presets":{
        "sd1": {
            "description": "Low quality, fastest (haveallx)",
            "scale": 3,
            "model": "haveallx",
            "steps": 30,
            "width": 512,
            "height": 512
        },
        "lightning": {
            "description": "Medium quality, fast (forrealxl)",
            "scale": 1.8,
            "model": "forrealxl",
            "steps": 10,
            "width": 1024,
            "height": 1024
        },
        "sdxl": {
            "description": "Best quality, slowest (haveall)",
            "scale": 3,
            "model": "haveall",
            "steps": 30,
            "width": 1024,
            "height": 1024
        },
        "composition": {
            "description": "Copy composition from image attachment or reply",
            "scale": 2,
            "model": "forrealxl",
            "steps": 15,
            "width": 1024,
            "height": 1024,
            "ipamodel": "ip_plus_composition_sdxl",
            "ipamethod": "full"
        },
        "face": {
            "description": "Copy face from image attachment or reply",
            "scale": 2,
            "model": "forrealxl",
            "steps": 15,
            "width": 1024,
            "height": 1024,
            "ipamodel": "ip-adapter-plus-face_sdxl_vit-h",
            "ipamethod": "full"
        },
        "style": {
            "description": "Copy style from image attachment or reply",
            "scale": 2,
            "model": "forrealxl",
            "steps": 15,
            "width": 1024,
            "height": 1024,
            "ipamodel": "ip_adapter_sdxl",
            "ipamethod": "style"
        },
    }
}
