{
    "discordBotKey":"",
    "topggKey":"",
    "tipccKey":"",
    "adminID":0,
    "rembg":"http://rembg:5000/api/remove?url=",
    "cluster":[
        {"url":"http://127.0.0.1:9090","name":"primary","deleteAfterRender":false,"disabled":false}
    ],
    "branding":{
        "botOwner":"ausbitbank",
        "botDescription":"Just a slave to the art, maaan"
    },
    "authentication":{
        "allowed":{
            "users":[],
            "guilds":[],
            "channels":[]
        },
        "banned":{
            "users":[],
            "guilds":[],
            "channels":[]
        }
    },
    "ignoreAllBots":true,
    "default":{
        "width":512,
        "height":512,
        "sdxlwidth":1024,
        "sdxlheight":1024,
        "steps":30,
        "scale":4,
        "strength":0.7,
        "scheduler":"dpmpp_2m_sde_k",
        "controlmode":"depth",
        "model":"swizz8-v3",
        "refinerModel":"sdxl_refiner_1.0",
        "inpaintModel":"deliberate-inpainting",
        "inpaintPrompt":"amazing",
        "inpaintStrength":0.8
    },
    "maximum":{
        "steps":100,
        "iterations":5,
        "pixels":2073601,
        "upscaledPixels":4194304
    },
    "credits":{
        "enabled":false,
        "hive":{
            "enabled":false,
            "address":"",
            "prefix":"recharge-"
        },
        "hiveEngine":{
            "enabled":false,
            "tokens":["SWAP.HIVE","SWAP.HBD","SWAP.BTC","SWAP.ETH","SWAP.LTC","SWAP.USDT","SWAP.WAX","SWAP.BNB","SWAP.MATIC","SWAP.BUSD","SWAP.DOGE","PAL","PALM","PALMM","DEC","SPS","LEO","LEOM","LEOMM","PART","CHAOS","SHARD","SCRAP","GLX","RIFT","STARBITS","DBLN","NIGHTMARE","ASTRA","VOUCHER","FLUX","GMLSPA","PLOT","ALPHA","WOO","GLGT","WORKERBEE","SIM","AFIT","POSH","SME","NEOXAG"]
        },
        "stripe":{
            "enabled":false,
            "key":"",
            "priceId":""
        },
        "tipcc":{
            "enabled":false,
            "key":null
        },
        "lightning":{
            "enabled":false
        }
    },
    "freeRecharge":{
        "minBalance":10,
        "amount":10
    },
    "logging":{
        "chat":false,
        "debug":false
    },
    "schedulers":["ddim","euler","deis","ddpm","dpmpp_2s","dpmpp_2m","dpmpp_2m_sde","dpmpp_sde","heun","kdpm_2","lms","pndm","unipc","euler_k","dpmpp_2s_k","dpmpp_2m_k","dpmpp_2m_sde_k","dpmpp_sde_k","heun_k","lms_k","euler_a","kdpm_2_a"]
}
